@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght,ROND@6..144,1..1000,0..100&display=swap");

@view-transition {
  navigation: auto;
}

:fullscreen {
  border-radius: 0 !important;
}

:-webkit-full-screen {
  border-radius: 0 !important;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  font-family: "Google Sans Flex", sans-serif;
  font-variation-settings: "ROND" 100;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--bg);
  color: var(--text);
}

a, h1, h2, h3, h4, h5, h6, button {
  color: var(--text);
}

#panel {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%); 
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, visibility 0.3s ease-in-out;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#panel.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%); 
}

.theme-buttons {
  cursor: pointer;
  border-radius: 0.75rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 500;
}

#game-cards img {
  width: 9rem;
  height: 9rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  object-fit: contain;
  transform: translateZ(30px);
}

#game-cards p {
  transform: translateZ(30px)
}

#game-cards a {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1.3rem;
  border-radius: 1.5rem;
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  transform-style: preserve-3d;
  transform: perspective(62.5rem);
}

#game-cards a:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.28), 0 4px 10px rgba(0, 0, 0, 0.18);
}

#toolbar a {
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
  font-size: 2.5rem;
}

#toolbar a:hover {
  transform: scale(1.2);
}

[data-theme="normal"] {
  --bg: linear-gradient(135deg, red 0%, blue 100%);
  --text: white;
}

[data-theme="light"] {
  --bg: white;
  --text: black;
}

[data-theme="dark"] {
  --bg: #1e1e1e;
  --text: white;
}

[data-theme="oled"] {
  --bg: black;
  --text: white;
}

[data-theme="pink"] {
  --bg: #ff3399;
  --text: white;
}

[data-theme="green"] {
  --bg: #2f8e36;
  --text: white;
}

[data-theme="custom"] {
  --bg: black;
  --text: white;
}